/****************************
         F O O T E R
****************************/

footer {
	border-top: solid 1px #efefef;
	margin:30px 0;
}
footer h3, footer h1 {
	/*margin: 0 30px;*/
}

.social-modules {
	width: 150px;
	height: 50px;
	margin: 10px 15px;
	cursor: pointer;
	transition: 500ms;
	color: white;
	border-radius: 5px;
}
.social-modules:hover {
	transition: 500ms;
}
.social-modules, .social-modules * {
	display: flex;
	cursor:pointer;
	padding:0px;
}
.expand-text {
	font-family: 'Oswald', sans-serif;
	width: 150px;
	height: 50px;
}
.expand-icon {
	font-size: 1.75em;
	width: 0;
	height: 50px;
}
.ion-social-facebook {
	background: rgba(59, 89, 152, .75);
}
.facebook {
	background: rgba(59, 89, 152, .85);
}
.ion-social-twitter {
	background: rgba(29, 161, 242, .75);
}
.twitter {
	background: rgba(29, 161, 242, .85);
}
.contribute {
	color: #333;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	align-items: baseline;
	cursor: pointer;
}
.contribute span {
	font-size: 1.25em;
}


footer{width:100%; margin:0 auto;}

footer .primary, footer .secondary, .social-modules div, .social-modules{padding:0;}

@media screen and (max-width:600px){
footer h1{font-size:2.25em;}
}