/********************************************************
       B A S E   L A Y E R   S T Y L E S H E E T 
********************************************************/

* {
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	/*background: rgba(0, 0, 0, .1);*/
	font-family: 'Quicksand', sans-serif;
	font-weight:100;
}
body, .container {
	width: 100%;
}
.container div, .container {
	padding: 15px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.row {
	flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
}
.column {
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
}
.wrap {
	flex-wrap: wrap;
}
h1 {
	font-family: 'Playfair Display', serif;
	font-size: 3.5em;
	font-weight: 400;
	color: #f63;
}
h2 {
	font-size: 1.75em;
	font-weight: 300;
	color: #f60;
}

h1,h2{
	margin:30px 0;
}
p {
	color: #999;
}
h3, input[type=email] {
	color: #999;
}
h6 {
	font-size: .65em;
	font-weight: 100;
	margin: 5px;
}